<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper footer-wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper footer-menu">
      <div class="footer-col" style="margin-bottom:15px;">
         {% for item in site.data.navigation %}
              <a class="page-link" href="{{ item.link }}" {% if item.link == page.url %} class="active page-link"{% endif %}>
                {{ item.name }}
              </a>
          {%- endfor -%}
      </div>
      <div class="footer-col">
        <a target="_blank" rel="noopener noreferrer" class="page-link" href="mailto:aloughlin711@gmail.com">
          Email
        </a>
        <a target="_blank" rel="noopener noreferrer"  class="page-link" href="https://twitter.com/Alex_117">
          Twitter
        </a>
        <a target="_blank" rel="noopener noreferrer"  class="page-link" href="https://instagram.com/alexloughlin_117/">
          Instagram
        </a>
        <a target="_blank" rel="noopener noreferrer"  class="page-link" href="http://vsco.co/alexloughlin">
          VSCO
        </a>
      </div>
    </div>

  </div>

</footer>