<header class="site-header" role="banner">

  <div class="header-wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="col-md-3">
          <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <div class="col-md-9">
      <div class="trigger main-menu-ctn" style="">
           {% for item in site.data.navigation %}
              <a class="page-link" href="{{ item.link }}" {% if item.link == page.url %} class="active page-link"{% endif %}>
                {{ item.name }}
              </a>
          {%- endfor -%}
        </div>
    </div>

  </div>
</header>