---
layout: default
---

<section class="cd-hero" style=" background: url(<?php echo the_post_thumbnail_url('large') ?> )no-repeat center center;background-size: cover;">
                <div class="cd-hero-content">
                   <div class="hero---title Hero-{{ page.category }}" style="width: 45%; margin-left: 81px;
                        padding: 50px;">
                  <h1 class="" style="color: #fff;
                        font-weight: 700;font-size: 40px;
                       ">
                        {{ page.title }}</h1>
                        <p style="color: #fff;">{{ page.description }}</p>
                        </div>
                  </div>
</section> 

<section>
     <div class="books--ctn">
        {% for post in site.categories[page.category] %}
             
             <div class="col-sm-4 col-float book--container" style="">
                  <div class="">
                           <div class="" style="text-align: center;">
                             
                                      <img class="book--img" src="{{ post.featured-img }}" alt="">
                                
                           </div>
                          <div class="book--info" style=""> 
                          <h6 style="" class="">{{ post.author }}</h6>
                           <h4 class="book--title" style="">{{ post.title }}</h4>
                           <hr>
                            {{ post.content }}
                            </div> 
                     
                  </div>
              </div>
           
        {% endfor %}
         </div>
</section>
