---
layout: default
---

<div class="ctn--home">
  <a href="/category/work"> 
      <div class="article article-intro" style="">
           
            <div class="home-intro" style="cursor:pointer;">
                <h2>Hi, I'm Alex Loughlin</h2>
                <h3>A front-end developer with over two years experience in building well designed, beautiful and forward-thinking websites. I have worked with digital agencies and in-house teams, currently working for Govnet on public sector events. I am in love with coffee, gaming and Vitra Design. </h3> 
                <h3 class="home-intro-link">See Work > </h3>
            </div>
      </div>
    </a>
   <a href="/category/games2018"> 
      <div class="article box-two" style="">
           
            <div class="home-games2018">
                <h1>Games <span>of</span> 2018</h1>
                <h4 style="">The second year of putting all my thoughts about games into words</h4> 
            </div>
            <div>
            
           </div>
      </div>
    </a>
    
    <div class="article box-blog">
          <h1 class="blog--heading" style="">Thoughts</h1>
          <div class="article--center blog--center">
              {% for post in site.posts %}
                {% if post.categories contains 'blog' limit: 3 %}
                <a href="{{ post.url | relative_url }}" class="col-float homepage-blog" style="background-image: url({{ post.featured-img }});">
                  <div class="home-blog-overlay">
                          <div class="book--info" style=""> 
                          <h2 style="" class="home-blog-title">{{ post.title }}</h2>
                           <h4 class="book--title" style="">{{ post.tagline }}</h4>
                            </div> 
                     
                  </div>
              </a>
                {% endif %}
              {% endfor %}

          </div>
      </div>
     
    <a href="/category/books"> 
      <div class="article box-three">
          <div class="article--center book--center">
              
            <h1 class="book--heading" style="color: #fff;margin-top:-40px;">Books</h1>
            <h4 class="book--subheading" style="padding-left: 8px;">Thoughts on the books on rotation in my life</h4>
          </div>
      </div>
    </a>


</div>